body {
  text-align: center;
  background-color: #474C5F;
}

#level-title {
  font-family: 'Girassol', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 50px;
  display: inline-block;
  height: 250px;
  width: 200px;
  border-radius: 5%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: transparent;
}

.green {
  background-color: transparent;
}

.blue {
  background-color: transparent;
}

.yellow {
  background-color: transparent;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
